@model IEnumerable<BookStore.Domain.Entities.Book>

@{
    ViewBag.Title = "Admin : All Books";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Index</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Books</h3>
        @Html.ActionLink("Add New Book", "Create", null, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialization)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "Edit", new { item.ISBN })
                    </td>
                    <td>
                        @item.Price.ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ISBN }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
       by Hasan Darwish&hearts;
    </div>

</div>
